html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url(img/cloud.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: "Karla", 'Cairo',"Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #676767;
  overflow-x: hidden;
  position: relative;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    /* background: #f23557; */
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
  padding-bottom: 20px;
  text-align: center;

}

input{
    color: #f0d43a;
    height: 60px;
    width: 320px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    opacity: 0.9;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    transition:height 1s;
    -webkit-transition:height 1s;
}

/* textarea */

.space{
  padding-left: 20px;
}

textarea{
    background-color: transparent;
    font-size: 20px;
    display: block;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    opacity: 0.9;
    border-radius: 20px;
    color: #f0d43a;
    outline: none;
    transition:height 1s;
    -webkit-transition:height 1s;
    padding: 3%;
    padding-bottom: 20px;
    border-color: grey;
}


#zip:focus {
    height:50px;
    font-size:20px;
}


.zip{
  text-align: center;
}

/* entry  */
.entry{
    text-align: left;
    display: block;
    padding: 20%;
    margin-top: 32%;
    margin-bottom: 20%;
    background: rgba(59, 74, 107, .4);
    position: relative;
    border-radius: 7px;
}

.title{
  text-align: center;
  display: block;
  margin-top: 50%;
}

@media only screen and (max-width:749px) {
  .entry{
    padding: 40px;
    position: sticky;
  }

}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}


/* button custom */

#genereate{
  display: block;
}

.contain-btn{
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  opacity: 0.8;
}


button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    cursor: pointer;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button:hover{
  background-color: white;
}

.button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    margin: 10px;
}

footer{
  color: grey;
  font-size: 9px;
  padding-top: 90px;
  text-align: left;
}
#footer2{
  text-align: right;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}
